.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
  text-align: center;
  flex-direction: row;
}
.forgotpassword {
  color: rgb(58, 94, 159);
  margin-top: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
.login-card {
  width: 23rem;
  height: 20rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
.bottomcardlogin {
  margin-top: 1rem;
  width: 23rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
.bckgrd {
  background-image: url("../../assets/background.png");
  width: 490px;
  height: 600px;
}
.carousel {
  /* margin-top: 13.5vh;
  margin-left: 3.3vw; */
  top: 45px;
  left: 13px;
}
.emailBox{
  padding-bottom: 3px !important;
}
.forget-card {
  width: 23rem;
  height: 13rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
.bottomForget-card{
  width: 23rem;
  border: 1px solid #ccc;
  padding: 1rem;
  margin-top: 1rem;
}
.testUserBtn {
  margin-top: 5px !important;
}